body {
    font-family: sans-serif;
    font-size: 13px;
}
.box {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}
.graybox {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    background: #f7f7f7;
}
form.graybox {
    margin-bottom: 20px;
    width: max-content;
}
form.graybox label[form] {
    font-weight: bold;
}
form.taskform {
    display: inline-block;
}
.loginstate {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    /* width: max-content; */
}
