<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>SEMS: Login</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../static/stylesheets/bootstrap.min.css" th:href="@{/stylesheets/bootstrap.min.css}">
</head>
<body>
    <div class="container">

        <div th:fragment="logged_in_as" class="card mb-3">
            <div class="card-body">
                You are logged in as : <span th:remove="tag" sec:authentication="name">&lt;username&gt;</span>
            </div>
        </div>
    
    </div>
    
    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>