<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>SEMS: All Adressses</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="general.css">
	<link rel="stylesheet" href="table.css">
    <style type="text/css">
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead>
            <tr>
                <th>ID              </th>
                <th>forename        </th>
                <th>surname         </th>
                <th>addr.ID         </th>
                <th>street          </th>
                <th>housenumber     </th>
                <th>town            </th>
                <th>zipcode         </th>
                <th>dep.ID          </th>
                <th>department      </th>
                <th>dep.addr.ID     </th>
                <th>dep.street      </th>
                <th>dep.housenumber </th>
                <th>dep.town        </th>
                <th>dep.zipcode     </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="emp : ${allEmployees}">
                <td th:text="${emp.getID()      }">[id          ]</td>
                <td th:text="${emp.getForename()}">[forename    ]</td>
                <td th:text="${emp.getSurname ()}">[surname     ]</td>
                <td th:text="${emp.hasAddress()   } ? ${emp.getAddress().getID()         } : '--'">[addr.id     ]</td>
                <td th:text="${emp.hasAddress()   } ? ${emp.getAddress().getStreet()     } : '--'">[street      ]</td>
                <td th:text="${emp.hasAddress()   } ? ${emp.getAddress().getHousenumber()} : '--'">[housenumber ]</td>
                <td th:text="${emp.hasAddress()   } ? ${emp.getAddress().getTown()       } : '--'">[town        ]</td>
                <td th:text="${emp.hasAddress()   } ? ${emp.getAddress().getZipcode()    } : '--'">[zipcode     ]</td>
                <td th:text="${emp.hasDepartment()} ? ${emp.getDepartment().getID()      } : '--'">[dep.id      ]</td>
                <td th:text="${emp.hasDepartment()} ? ${emp.getDepartment().getName()    } : '--'">[department  ]</td>
                <td th:text="${emp.hasDepartment() && emp.getDepartment().hasAddress()} ? ${emp.getDepartment().getAddress().getID()         } : '--'">[dep.addr.id     ]</td>
                <td th:text="${emp.hasDepartment() && emp.getDepartment().hasAddress()} ? ${emp.getDepartment().getAddress().getStreet()     } : '--'">[dep.street      ]</td>
                <td th:text="${emp.hasDepartment() && emp.getDepartment().hasAddress()} ? ${emp.getDepartment().getAddress().getHousenumber()} : '--'">[dep.housenumber ]</td>
                <td th:text="${emp.hasDepartment() && emp.getDepartment().hasAddress()} ? ${emp.getDepartment().getAddress().getTown()       } : '--'">[dep.town        ]</td>
                <td th:text="${emp.hasDepartment() && emp.getDepartment().hasAddress()} ? ${emp.getDepartment().getAddress().getZipcode()    } : '--'">[dep.zipcode     ]</td>
            </tr>
        </tbody>
    </table>
</body>
</html>