<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>SEMS: All Adressses</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/stylesheets/general.css">
	<link rel="stylesheet" href="/stylesheets/table.css">
    <style type="text/css">
    </style>
</head>
<body>
    <table cellspacing="0" th:fragment="table">
        <thead>
            <tr>
                <th>ID         </th>
                <th>street     </th>
                <th>housenumber</th>
                <th>town       </th>
                <th>zipcode    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="addr : ${allAddresses}">
                <td th:text="${addr.getID()         }">[id          ]</td>
                <td th:text="${addr.getStreet()     }">[street      ]</td>
                <td th:text="${addr.getHousenumber()}">[housenumber ]</td>
                <td th:text="${addr.getTown()       }">[town        ]</td>
                <td th:text="${addr.getZipcode()    }">[zipcode     ]</td>
                <td>
                    <form th:action="${config.basePath + config.endpoints.delete_address}" class="taskform" method="POST">
                        <input type="hidden" name="id" th:value="${addr.getID()}">
                        <input type="hidden" name="redirect_to" th:value="${redirectTarget}">
                        <button type="submit">delete</button>
                    </form>
                    <form th:action="${config.basePath + config.endpoints.call_update_address_view}" class="taskform" method="POST">
                        <input type="hidden" name="id" th:value="${addr.getID()}">
                        <input type="hidden" name="redirect_to" th:value="${redirectTarget}">
                        <button type="submit">modify</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>