<!DOCTYPE HTML>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head> 
    <title>SEMS: All Adressses</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/stylesheets/general.css">
	<link rel="stylesheet" href="/stylesheets/table.css">
    <style type="text/css">
    </style>
</head>
<body>
    
    <div class="loginstate">
        You are logged in as : <span th:remove="tag" sec:authentication="name">&lt;username&gt;</span>
    </div>

    <form th:fragment="create_address_form" id="create_address_form" th:action="${config.endpoints.addresses.create}" class="graybox" method="POST">
        <label form="create_address_form">add address:</label><br/>
        <label>street  : <input type="text" name="street" ></label><br/>
        <label>house   : <input type="text" name="house"  ></label><br/>
        <label>town    : <input type="text" name="town"   ></label><br/>
        <label>zipcode : <input type="text" name="zipcode"></label><br/>
        <input type="hidden" name="redirect_to" th:value="${redirectTarget}">
        <button type="reset">reset</button>
        <button type="submit">submit</button>
    </form>

    <form th:fragment="table" th:action="${config.endpoints.addresses.modify}" method="POST">
        <input type="hidden" name="redirect_to" th:value="${redirectTarget}">
        <table class="big">
            <thead>
                <tr>
                    <th>ID         </th>
                    <th>street     </th>
                    <th>housenumber</th>
                    <th>town       </th>
                    <th>zipcode    </th>
                    <th>employees  </th>
                    <th>departments</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="addr : ${allAddresses}">
                    <td th:text="${addr.getID()         }">[ID          ]</td>
                    <td th:text="${addr.getStreet()     }">[Street      ]</td>
                    <td th:text="${addr.getHousenumber()}">[Housenumber ]</td>
                    <td th:text="${addr.getTown()       }">[Town        ]</td>
                    <td th:text="${addr.getZipcode()    }">[Zipcode     ]</td>
                    <td th:text="${addr.getEmployeesCount()  }">[EmployeesCount   ]</td>
                    <td th:text="${addr.getDepartmentsCount()}">[DepartmentsCount ]</td>
                    <td>
                        <button type="submit" name="delete" th:value="${addr.getID()}">delete</button>
                        <button type="submit" name="update" th:value="${addr.getID()}">modify</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    
</body>
</html>