<!DOCTYPE HTML>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head> 
    <title>SEMS: All Employees</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/stylesheets/general.css">
	<link rel="stylesheet" href="/stylesheets/table.css">
    <style type="text/css">
    </style>
</head>
<body>
    
    <div class="loginstate">
        You are logged in as : <span th:remove="tag" sec:authentication="name">&lt;username&gt;</span>
    </div>

    <form th:fragment="create_employee_form" id="create_employee_form" th:action="${config.endpoints.employees.create}" class="graybox" method="POST">
        <label form="create_employee_form">add employee:</label><br/>
        <label>forename     : <input type="text" name="forename"></label><br/>
        <label>surname      : <input type="text" name="surname" ></label><br/>
        <label>home address :
            <select name="addr_id">
                <option value="-1" >-- not assigned --</option>
                <option th:each="addr : ${allAddresses}" th:value="${addr.getID()}" th:text="${addr.toLabel()}"></option>
            </select>
        </label><br/>
        <label>department :
            <select name="dep_id">
                <option value="-1" >-- not assigned --</option>
                <option th:each="dep : ${allDepartments}" th:value="${dep.getID()}" th:text="${dep.toLabel()}"></option>
            </select>
        </label><br/>
        <input type="hidden" name="redirect_to" th:value="${redirectTarget}">
        <button type="reset">reset</button>
        <button type="submit">submit</button>
    </form>

    <form th:fragment="table" th:action="${config.endpoints.employees.modify}" method="POST">
        <input type="hidden" name="redirect_to" th:value="${redirectTarget}">
        <table class="big">
            <thead>
                <tr>
                    <th>ID              </th>
                    <th>forename        </th>
                    <th>surname         </th>
                    <th>addr.ID         </th>
                    <th>street          </th>
                    <th>housenumber     </th>
                    <th>town            </th>
                    <th>zipcode         </th>
                    <th>dep.ID          </th>
                    <th>department      </th>
                    <th>dep.addr.ID     </th>
                    <th>dep.street      </th>
                    <th>dep.housenumber </th>
                    <th>dep.town        </th>
                    <th>dep.zipcode     </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="emp : ${allEmployees}"
                    th:with="
                        empAddr = ${emp.getAddress()},
                        dep     = ${emp.getDepartment()},
                        depAddr = ${dep != null} ? ${dep.getAddress()} : null
                    ">
                    <td th:text="${emp.getID()      }">[id          ]</td>
                    <td th:text="${emp.getForename()}">[forename    ]</td>
                    <td th:text="${emp.getSurname ()}">[surname     ]</td>
                    <td th:text="${empAddr!=null} ? ${empAddr.getID()         } : '--'">[addr.id         ]</td>
                    <td th:text="${empAddr!=null} ? ${empAddr.getStreet()     } : '--'">[street          ]</td>
                    <td th:text="${empAddr!=null} ? ${empAddr.getHousenumber()} : '--'">[housenumber     ]</td>
                    <td th:text="${empAddr!=null} ? ${empAddr.getTown()       } : '--'">[town            ]</td>
                    <td th:text="${empAddr!=null} ? ${empAddr.getZipcode()    } : '--'">[zipcode         ]</td>
                    <td th:text="${dep    !=null} ? ${dep    .getID()         } : '--'">[dep.id          ]</td>
                    <td th:text="${dep    !=null} ? ${dep    .getName()       } : '--'">[department      ]</td>
                    <td th:text="${depAddr!=null} ? ${depAddr.getID()         } : '--'">[dep.addr.id     ]</td>
                    <td th:text="${depAddr!=null} ? ${depAddr.getStreet()     } : '--'">[dep.street      ]</td>
                    <td th:text="${depAddr!=null} ? ${depAddr.getHousenumber()} : '--'">[dep.housenumber ]</td>
                    <td th:text="${depAddr!=null} ? ${depAddr.getTown()       } : '--'">[dep.town        ]</td>
                    <td th:text="${depAddr!=null} ? ${depAddr.getZipcode()    } : '--'">[dep.zipcode     ]</td>
                    <td>
                        <button type="submit" name="delete" th:value="${emp.getID()}">delete</button>
                        <button type="submit" name="update" th:value="${emp.getID()}">modify</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

</body>
</html>