<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>SEMS: All Departments</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/stylesheets/general.css">
	<link rel="stylesheet" href="/stylesheets/table.css">
    <style type="text/css">
    </style>
</head>
<body>
    <table cellspacing="0" th:fragment="table">
        <thead>
            <tr>
                <th>ID         </th>
                <th>name       </th>
                <th>addr.ID    </th>
                <th>street     </th>
                <th>housenumber</th>
                <th>town       </th>
                <th>zipcode    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dep : ${allDepartments}"
                th:with="depAddr = ${dep.getAddress()}">
                <td th:text="${dep.getID()  }">[id          ]</td>
                <td th:text="${dep.getName()}">[name        ]</td>
                <td th:text="${depAddr!=null} ? ${depAddr.getID()         } : '--'">[addr.id     ]</td>
                <td th:text="${depAddr!=null} ? ${depAddr.getStreet()     } : '--'">[street      ]</td>
                <td th:text="${depAddr!=null} ? ${depAddr.getHousenumber()} : '--'">[housenumber ]</td>
                <td th:text="${depAddr!=null} ? ${depAddr.getTown()       } : '--'">[town        ]</td>
                <td th:text="${depAddr!=null} ? ${depAddr.getZipcode()    } : '--'">[zipcode     ]</td>
                <td>
                    <form th:action="${config.basePath + config.endpoints.delete_department}" class="taskform" method="POST">
                        <input type="hidden" name="id" th:value="${dep.getID()}">
                        <input type="hidden" name="redirect_to" th:value="${redirectTarget}">
                        <button type="submit">delete</button>
                    </form>
                    <form th:action="${config.basePath + config.endpoints.update_department}" class="taskform" method="POST">
                        <input type="hidden" name="id" th:value="${dep.getID()}">
                        <input type="hidden" name="redirect_to" th:value="${redirectTarget}">
                        <button type="submit">modify</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>