<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>SEMS: Edit Database</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/stylesheets/general.css">
	<link rel="stylesheet" href="/stylesheets/table.css">
	<link rel="stylesheet" href="/stylesheets/tabpanel.css">
    <style type="text/css">
    </style>
	<script src="/js/tabpanelcontrol.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
	</script>
</head>
<body onload="TabPanelControl.select('all_departments_button', 'all_departments_table');">

    <form id="add_address" th:action="${config.basePath + config.endpoints.add_address}" class="graybox" method="POST">
        <label form="add_address">add address:</label><br/>
        <label>street  : <input type="text" name="street"  maxlength="40"></label><br/>
        <label>house   : <input type="text" name="house"   maxlength="40"></label><br/>
        <label>town    : <input type="text" name="town"    maxlength="40"></label><br/>
        <label>zipcode : <input type="text" name="zipcode" maxlength="40"></label><br/>
        <input type="hidden" name="redirect_to" th:value="${redirectTarget}">
        <button type="reset">reset</button>
        <button type="submit">submit</button>
    </form>
    
    <form id="add_department" th:action="${config.basePath + config.endpoints.add_department}" class="graybox" method="POST">
        <label form="add_department">add department:</label><br/>
        <label>name    : <input type="text" name="name"></label><br/>
        <label>address :
            <select name="addr_id">
                <option th:each="addr : ${allAddresses}" th:value="${addr.getID()}" th:text="${addr.toLabel()}"></option>
            </select>
        </label>
        <br/>
        <input type="hidden" name="redirect_to" th:value="${redirectTarget}">
        <button type="reset">reset</button>
        <button type="submit">submit</button>
    </form>
    
    <form id="add_employee" th:action="${config.basePath + config.endpoints.add_employee}" class="graybox" method="POST">
        <label form="add_employee">add employee:</label><br/>
        <label>forename     : <input type="text" name="forename"></label><br/>
        <label>surname      : <input type="text" name="surname" ></label><br/>
        <label>home address :
            <select name="addr_id">
                <option th:each="addr : ${allAddresses}" th:value="${addr.getID()}" th:text="${addr.toLabel()}"></option>
            </select>
        </label><br/>
        <label>department :
            <select name="dep_id">
                <option th:each="dep : ${allDepartments}" th:value="${dep.getID()}" th:text="${dep.toLabel()}"></option>
            </select>
        </label><br/>
        <input type="hidden" name="redirect_to" th:value="${redirectTarget}">
        <button type="reset">reset</button>
        <button type="submit">submit</button>
    </form>
   
    <div>
        <div>
            <button id="all_addresses_button"   class="TabButton" onclick="TabPanelControl.select('all_addresses_button'  , 'all_addresses_table'  );">Addresses</button>
            <button id="all_departments_button" class="TabButton" onclick="TabPanelControl.select('all_departments_button', 'all_departments_table');">Departments</button>
            <button id="all_employees_button"   class="TabButton" onclick="TabPanelControl.select('all_employees_button'  , 'all_employees_table'  );">Employees</button>
        </div>
        <div id="all_addresses_table"   class="TabContent" th:insert="~{all_addresses   :: table}"></div>
        <div id="all_departments_table" class="TabContent" th:insert="~{all_departments :: table}"></div>
        <div id="all_employees_table"   class="TabContent" th:insert="~{all_employees   :: table}"></div>
    </div>
    
</body>
</html>