<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>SEMS - Simple Employee Management System</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="/stylesheets/general.css">
    <style type="text/css">
		#links {
            padding: 10px;
            border-radius: 10px;
            width: max-content;
		}
		#links a {
            display: block;
        }
        form.box {
            width: max-content;
        }
        .h1 { font-size: 20px; font-weight: bold; }
        .h2 { font-size: 15px; font-weight: bold; }
        .withmargin { margin: 10px 0px; }
	</style>
</head>
<body>

    <div id="links" class="graybox">
        <div class="h1">Interesting Links:</div>
        <div th:each="list : ${linklists}">
            <div class="withmargin">
                <div class="h2" th:text="${list.title}">[title]</div>
                <div th:if="${list.subtitle != null}" th:text="${list.subtitle}">[subtitle]</div>
            </div>
            <a th:each="link : ${list.links}" th:href="${link.path}" th:text="${link.label}" target="_blank">[label]</a>
        </div>
    </div>
    
    <form th:action="@{/logout}" method="POST" class="box">
        You are logged in as : <span th:remove="tag" sec:authentication="name">&lt;username&gt;</span>
        <br/>
        <input type="submit" value="Sign Out"/>
    </form>
    
</body>
</html>
