<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SEMS: LDAP Inspection</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../static/stylesheets/bootstrap.min.css" th:href="@{/stylesheets/bootstrap.min.css}">
</head>
<body>
    <div class="container">

        <div class="card mb-3">
            <h4 class="card-header" th:text="${strListLabel}">{strListLabel}</h4>
            <ul class="list-group list-group-flush">
                <li th:each="str : ${strList}" th:text="${str}" class="list-group-item">{str}</li>
            </ul>
        </div>

        <div class="card">
            <h4 class="card-header">All Data</h4>
            <div class="card-body table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th th:each="attr : ${attributes}" th:text="${attr}" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr th:each="genAttrMap : ${allData}">
                            <td th:each="attr : ${attributes}"
                                th:with="genAttr = ${genAttrMap.get(attr)}">
                                <div th:if="${genAttr.isNull()}" title="<null>">---</div>
                                <div th:if="${!genAttr.isNull() && genAttr.size()==0}">&lt;empty&gt;</div>
                                <div th:if="${!genAttr.isNull() && genAttr.size()==1}"
                                    th:with="genVal = ${genAttr.get()}" class="text-nowrap">
                                    <span th:title="${genVal.getClassStr()}" th:text="'[' + ${genVal.getClassKey()} + ']'">[C]</span>
                                    <span th:if="${!genVal.isByteArr()}" th:text="${genVal.getValueStr()       }">{value}</span>
                                    <span th:if="${ genVal.isByteArr()}" th:text="${genVal.getByteArrAsString()}">{value}</span>
                                </div>
                                <div th:if="${!genAttr.isNull() && genAttr.size()>1}"
                                    th:with="valList = ${genAttr.getAll()}">
                                    <div th:each="genVal, loopStat : ${valList}" class="text-nowrap">
                                        <span th:text="'(' + ${loopStat.index+1} + ')'">(#)</span>
                                        <span th:title="${genVal.getClassStr()}" th:text="'[' + ${genVal.getClassKey()} + ']'">[C]</span>
                                        <span th:if="${!genVal.isByteArr()}" th:text="${genVal.getValueStr()       }">{value}</span>
                                        <span th:if="${ genVal.isByteArr()}" th:text="${genVal.getByteArrAsString()}">{value}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>

    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>