<!DOCTYPE HTML>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>SEMS: Message</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/stylesheets/bootstrap.min.css" th:href="@{/stylesheets/bootstrap.min.css}">
</head>
<body>
    <div class="container">

        <div class="card text-bg-light"
            th:with="
                cardColor = ${messageType == config.messageType.ERROR}
                                ? 'text-bg-danger'
                                : (${messageType == config.messageType.WARNING}
                                    ? 'text-bg-warning'
                                    : 'text-bg-light')
            "
            th:class="'card ' + ${cardColor}"
            >
            <h4 class="card-header" th:text="${title}">{title}</h4>
            <div class="card-body">
                <form th:action="${redirectTarget}">
                    <p th:each="p : ${paragraphs}" th:text="${p}" class="card-text">{paragraph}</p>
                    <button type="submit" class="btn btn-primary">OK</button>
                </form>
            </div>
        </div>

    </div>

    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>