<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>SEMS: User Info</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../static/stylesheets/bootstrap.min.css" th:href="@{/stylesheets/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        
        <div class="card text-bg-light mb-3">
            <h4 class="card-header">#authentication.&lt;property&gt;</h4>
            <div class="card-body table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">property</th>
                            <th scope="col">JAVA class</th>
                            <th scope="col">value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>name</td>
                            <td><pre th:text="${helper.getClassStr(#authentication.name)}"></pre></td>
                            <td sec:authentication="name"></td>
                        </tr>
                        <tr>
                            <td>principal</td>
                            <td><pre th:text="${helper.getClassStr(#authentication.principal)}"></pre></td>
                            <td sec:authentication="principal"></td>
                        </tr>
                        <tr>
                            <td>authorities</td>
                            <td><pre th:text="${helper.getClassStr(#authentication.authorities)}"></pre></td>
                            <td sec:authentication="authorities"></td>
                        </tr>
                        <tr>
                            <td>details</td>
                            <td><pre th:text="${helper.getClassStr(#authentication.details)}"></pre></td>
                            <td sec:authentication="details"></td>
                        </tr>
                        <tr>
                            <td>credentials</td>
                            <td><pre th:text="${helper.getClassStr(#authentication.credentials)}"></pre></td>
                            <td sec:authentication="credentials"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card text-bg-light mb-3">
            <h4 class="card-header">#authentication.authorities</h4>
            <div class="card-body table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <th scope="col">toString</th>
                        <th scope="col">getAuthority</th>
                    </thead>
                    <tbody>
                        <tr th:each="auth : ${#authentication.authorities}">
                            <td th:text="${auth.toString()}"></td>
                            <td th:text="${auth.getAuthority()}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <!--<div th:text="&{#authentication.isAuthenticated()}"></div>-->
        <div class="card text-bg-light mb-3">
            <h4 class="card-header">#authentication.isAuthenticated()</h4>
            <div class="card-body">
                <div sec:authorize="isAuthenticated()">
                    isAuthenticated() via sec:authorize="isAuthenticated()"
                </div>
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    isAuthenticated() via th:if="${#authorization.expression('isAuthenticated()')}"
                </div>
                <div th:unless="${#authorization.expression('isAuthenticated()')}">
                    NOT isAuthenticated() via th:unless="${#authorization.expression('isAuthenticated()')}"
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
